.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.navBar {
  background: linear-gradient(140deg,#193b84 15%,#037bc1);
  color: #fff;
  padding: 40px 25px 30px;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  letter-spacing: -1px;
  word-spacing: -7px;
}

.pageTitle {
  margin: 0;
}

.reviewersList {
  display: flex;
  height: 100%;
  flex: 1;
  padding: 0 20px;
  overflow: scroll;
  background-color :#f3f7f7;
}

.reviewerPRList {
  flex-shrink: 0;
  margin-right: 10px;
  padding: 20px 10px 0;
}

.reviewerHeading {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
  word-spacing: -7px;
  color: #333;
  font-weight: normal;
}

.reviewerHeading-loading {
  height: 65px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(100deg, rgba(243, 247, 247, 0), rgba(243, 247, 247, 0.5) 50%, rgba(243, 247, 247, 0) 70%),
    linear-gradient(#ddd 40px, transparent 0),
    linear-gradient(#ddd 40px, transparent 0);
  background-size: 50px 200px, 70% 14px, 145px 10px;
  background-position: 0 0, 0px 15px, 0 40px;
  animation: reviewerHeading-shine 0.8s infinite;
}

@keyframes reviewerHeading-shine {
  to {
    background-position: 100% 0, 0px 15px, 0 40px;
  }
}

.reviewerName {
  color: #222;
  font-size: 24px;
}

.prCard {
  min-height: 80px;
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  background-color: #fff;
  box-shadow: 5px 7px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 16px 16px;
  margin-bottom: 26px;
  font-size: 14px;
}

.prCard-loading {
  background-repeat: no-repeat;
  background-image:
    linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%),
    linear-gradient(#eee 40px, transparent 0),
    linear-gradient(#eee 40px, transparent 0),
    linear-gradient(#eee 40px, transparent 0),
    linear-gradient(#fff 100%, transparent 0);
  background-size: 50px 200px, calc(100% - 30px) 17px, 145px 10px, 45px 10px, 100% 100%;
  background-position: 0 0, 15px 15px, 15px 50px, calc(100% - 18px) 50px, 0 0;
  animation: prCard-shine 0.8s infinite;
}

@keyframes prCard-shine {
  to {
    background-position: 100% 0, 15px 15px, 15px 50px, calc(100% - 18px) 50px, 0 0;
  }
}

.prTitle {
  margin-top: 0;
}

.prLink {
  text-decoration: none;
  transition: 0.4s;
  color: #555;
}

.prLink:hover {
  text-decoration: underline;
}

.prDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

.prSlug {
  color: #333;
  word-spacing: -3px;
}

.prNumber {
  color: #777;
  font-size: 16px;
}

.prAuthor {
  color: #777;
}
